doctype html
html
  head
    link href='/css/bootstrap.min.css' media='screen' rel='stylesheet' type='text/css'
    link href='/css/bootstrap-theme.min.css' media='screen' rel='stylesheet' type='text/css'
    title Spróbuj Polaka
    script type="text/javascript" src="/js/jquery-2.1.0.min.js"
    script type="text/javascript" src="/js/bootstrap.min.js"
    script type="text/javascript" src="/js/common.js"
    body
    nav.navbar.navbar-default
      div.navbar-header
        a.navbar-brand Wypróbuj Polaka

    div.row
      div.col-md-2
        div.panel.panel-default
          div.panel-heading
            div.panel-title
              h3.panel-title Porady
            div.panel-body style="height: 800px;"
              p Zobacz listę dostępnych komend
              a href='https://github.com/michaldarda/polak/blob/master/README.md' tutaj
      div.col-md-10
        div.panel.panel-default
          div.panel-heading
            div.panel-title
              h3.panel-title Interaktywna konsola
            div.panel-body
              div#consoleOutput.well.well-lg style="height: 700px;"
              div.input-group
                span.input-group-addon
                  form#expressionForm
                    input#expression type='text' class='form-control' placeholder='Wpisz komendę aby rozpoczac'
